@{
    ViewData["Title"] = "Home Page";
}

<main>
    <p>В современном мире каждый из нас ежедневно пользуется различными WEB-сервисами: новости, почта, заметки, социальные сети,
        и этот список постоянно расширяется. Хотели бы вы написать собственный WEB-сервис для решения своих проблем?
    </p>
    
    <p>На нашем спецкурсе мы познакомим слушателей с популярным фреймворком последней версии от Microsoft: 
        <a href="https://www.asp.net/">ASP.NET</a> Core MVC. 
        Данный фреймворк позволяет достаточно просто реализовывать как обычный web-сервис с клиентом для браузера, так и RESTful-сервис. 
    </p>

    <p>Цель курса - познакомить слушателя с основными компонентами фреймворка ASP.NET Core MVC и его возможностями.
        На курсе будут затронуты и смежные темы, которые позволят написать качественное приложение.
    </p>
    
    Программа курса:
    <ul>
        <li>
            <p>В первом семестре мы познакомимся с основными возможностями и особенностями фреймворка: 
                паттерн MVC, owin\middleware, маршрутизация, возможности серверной шаблонизации, работа с базой данных через ORM 
                (Entity Framework), валидация, контейнер зависимостей, авторизация.
            </p>
        </li>
        
        <li>
            <p>Во втором семестре мы предлагаем закрепить полученные знания созданием групповых проектов, что позволит узнать различные
                инструменты разработчика, улучшить ваши навыки работы в команде и завести новых интересных друзей. 
            </p>
        </li>
        
        <li>
            <p>Так же мы постараемся рассмотреть различные интересные технологии для разработки и отладки вашего приложения: 
                Logstash, Kibana, Nlog, ElasticSearch, Swagger, Redis, Docker и другие. 
            </p>
        </li>
    </ul>

    <p>Продолжительность курса: 2 семестра. </p>
    <p>Преподаватели курса: Севостьянов Андрей и Елькин Евгений - разработчики компании Экстрим про.</p>
    <p>Требования к слушателям: знание C#, желательно знание HTML/JS/CSS. </p>
    <p>Курс начнется в октябре и будет проходить один раз в неделю в вечернее время по адресу: ул. Тургенева, д. 4 (ИМКН). 
        Студенты, успешно прошедшие курс, получат зачет и сертификат от Центра ИТ-инноваций. 
    </p>
</main>
